@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GothamRounded";
  src: url("@/assets/fonts/GothamRoundedBook_21018.woff") format("woff"),
    url("@/assets/fonts/GothamRoundedBook_21018.ttf") format("truetype"),
    url("@/assets/fonts/GothamRoundedBook_21018.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamRounded";
  src: url("@/assets/fonts/GothamRoundedMedium_21022.woff") format("woff"),
    url("@/assets/fonts/GothamRoundedMedium_21022.ttf") format("truetype"),
    url("@/assets/fonts/GothamRoundedMedium_21022.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GothamRounded";
  src: url("@/assets/fonts/GothamRoundedBold_21016.woff") format("woff"),
    url("@/assets/fonts/GothamRoundedBold_21016.ttf") format("truetype"),
    url("@/assets/fonts/GothamRoundedBold_21016.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-normal text-black bg-white;
  cursor: url(@/assets/media/cursor.svg) 1 1, auto;
}

h1 {
  @apply font-medium text-7xl;
}
h2 {
  @apply text-5xl font-medium;
}
h3 {
  @apply text-2xl font-medium;
}
h4 {
  @apply text-xl font-medium;
}
h5 {
  @apply text-lg font-medium;
}
h6 {
  @apply text-base font-medium uppercase;
}

section {
  @apply flex flex-col items-center justify-center w-full;
}

article {
  @apply w-full p-6 max-w-7xl;
}

/* Selection Styles */
::selection {
  background-color: #5722f65e;
  color: #000;
  backdrop-filter: blur(8px);
}

.tippy-box {
  @apply px-3 py-1 text-xs font-medium text-white bg-black rounded-full;
}
